{% extends "index.html" %}

{% block stocklookup %}

<div class="container max-width-lg padding-y-lg">
    <ul class="grid gap-lg">

        <!-- start stocklookup -->
        <li id="projects">
            <header class="margin-bottom-sm">
                <div class="flex flex-column gap-xxs flex-row@sm justify-between@sm items-baseline@sm">
                    <h2 class="text-lg">Stock Symbol Lookup</h2>
                </div>
            </header>

            <div class="card padding-md">
				<form method="POST" action="/stocks/search/">
					{% csrf_token %}
					<p>Search Ticker Symbol:</p>
					<input class="form-control" type="text" name="symb" placeholder="Symbol">
					<button class="btn btn--primary">Search</button>
				<form>
			{% if symb %}
				<p>Searched for: {{ symb }} </p>
				<p>Found:</p>
				{% autoescape off %}
				{{ info }}
				{% endautoescape %}
			{% endif %}
            </div>
        </li>
        <!-- end stocklookup -->

    </ul>
</div>

{% endblock %}
