{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Resume for Scott Hasserd">
    <meta name="keywords" content="developer,programmer,software engineer,php,css,html,javascript,web developer, raleigh">
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="http://localhost/img/favicon.svg">
    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
	<script src="https://stocks.static.scotthasserd.com/js/scripts.js" defer></script>
	<script src="https://stocks.static.scotthasserd.com/js/color-theme.js"></script>
	<link rel="stylesheet" href="https://stocks.static.scotthasserd.com/css/style.css"/>
    <title>Scott's Stock Site</title>
</head>
<body>
	{% include "mobileHeader.html" %}
    <div class="flex@md">
        {% include "nav.html" %}
        <main class="position-relative z-index-1 flex-grow min-height-100vh position-sticky@md top-0@md height-100vh@md overflow-auto@md sidebar-loaded:show">
            <!-- start main content -->
			{% include "header.html" %}
            <!-- start container -->
			{% block stocklookup %}
			{% endblock %}
            <!-- end container -->

            <!-- end main content -->
        </main>
    </div>
</body>
</html>
