{% load static %}
<!-- start mobile header -->
<header class="position-sticky top-0 z-index-header bg shadow-xs padding-x-component padding-y-sm flex items-center justify-between hide@md">
    <a class="block size-32 hover:reduce-opacity" href="/">
        <img style="border-radius:99999px" src="http://stocks.static.scotthasserd.com/img/Scott.png">
    </a>

	<h1>Scott's Stock Site</h1>

    <button class="btn btn--subtle" aria-controls="cms-main-sidebar">Menu</button>
</header>
<!-- end mobile header -->
