<aside id="cms-main-sidebar" class="sidebar sidebar--static@md js-sidebar" data-static-class="position-relative z-index-2 bg-dark flex flex-column">
    <div class="sidebar__panel flex-grow flex flex-column">
        <!-- start sidebar (mobile) header -->
        <header class="sidebar__header bg padding-y-sm padding-left-md padding-right-sm border-bottom z-index-2">
            <h1 class="text-md text-truncate" id="sidebar-title">Menu</h1>

            <button class="reset sidebar__close-btn js-sidebar__close-btn js-tab-focus">
                <svg class="icon icon--xs" viewBox="0 0 16 16"><title>Close panel</title><g stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"><line x1="13.5" y1="2.5" x2="2.5" y2="13.5"></line><line x1="2.5" y1="2.5" x2="13.5" y2="13.5"></line></g></svg>
            </button>
        </header>
        <!-- end sidebar (mobile) header -->

        <!-- start sidebar (desktop) header -->
        <header class="display@md padding-x-xs margin-bottom-lg">
            <div class="flex items-center justify-between height-60 padding-right-xs padding-left-xxxs">
                <h2>Navigation</h2>
            </div>
			<!-- welcome back goes here -->
        </header>
        <!-- end sidebar (desktop) header -->

        <!-- start sidenav content -->
        <div class="position-relative z-index-1">
            <nav class="sidenav-v4 padding-x-xs padding-bottom-xs js-sidenav-v4">
                <ul>
                    <li class="sidenav-v4__item">
                        <a class="sidenav-v4__link js-sidenav-v4__link" href="/" aria-current="page">
                            <svg class="sidenav-v4__icon icon" viewBox="0 0 20 20">
                                <g fill="currentColor">
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12v7H4v-7"></path>
                                    <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 10l9-9 9 9"></path>
                                    <path d="M10 14a2 2 0 0 1 2 2v2H8v-2a2 2 0 0 1 2-2z"></path>
                                </g>
                            </svg>

                            <span>Home</span>
                        </a>
                    </li>
                    <!-- <li class="sidenav-v4__item">
                        <a class="sidenav-v4__link js-sidenav-v4__link" href="/login">
                            <svg class="sidenav-v4__icon icon" viewBox="0 0 20 20">
                                <g fill="currentColor">
                                    <circle cx="10" cy="4" r="3" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
                                    <path d="M10 11a8 8 0 0 0-7.562 5.383A2 2 0 0 0 4.347 19h11.306a2 2 0 0 0 1.909-2.617A8 8 0 0 0 10 11z" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                                </g>
                            </svg>

                            <span>Login</span>
                        </a>
					</li> -->
                </ul>
            </nav>

            <!-- mobile search
            <div class="padding-x-xs padding-bottom-sm hide@md">
                <div class="padding-x-sm">
                    <div class="search-input search-input--icon-left text-md">
                        <input class="search-input__input form-control" type="search" name="search-input" id="search-input" placeholder="Search..." aria-label="Search">
                        <button class="search-input__btn">
                            <svg class="icon" viewBox="0 0 20 20"><title>Submit</title><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><circle cx="8" cy="8" r="6"/><line x1="12.242" y1="12.242" x2="18" y2="18"/></g></svg>
                        </button>
                    </div>
                </div>
            </div>
            end mobile search -->
        </div>
        <!-- end sidenav content -->

        <!-- start sidenav footer -->
        <footer class="sidebar__footer border-top border-alpha padding-xs margin-top-auto position-sticky bottom-0 z-index-1">
            <div class="padding-x-xs flex items-center justify-between">
                <label class="" for="select-theme">Theme:</label>

                <div class="select text-sm" style="--select-icon-right-margin: var(--space-xxs); --select-icon-size: 12px;">
                    <select class="select__input btn btn--subtle padding-x-xxs padding-y-xxxs" name="select-theme" id="select-theme">
                        <option value="light">Light</option>
                        <option value="dark">Dark</option>
                        <option value="floral">Floral</option>
                        <option value="woody">Woody</option>
                        <option value="water">Water</option>
                    </select>

                    <svg class="icon select__icon" aria-hidden="true" viewBox="0 0 12 12"><polyline points="1 4 6 9 11 4" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/></svg>
                </div>
            </div>
        </footer>
        <!-- end sidenav footer -->
    </div>
</aside>
